<h3>Itens do seu carrinho de compras</h3>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<div class="container">
    <ul class="list-group col-md-6" ng-repeat="c in carrinho.itens">
        <li class="list-group-item list-group-item-info">{{c.produto.nome}}</li>
        <li class="list-group-item">R$ {{c.produto.valor}}</li>

    </ul>
</div>

<footer>
        <p>Total: {{total}}</p>
    </footer>

<div class="container">
    <span><a href="/" class="btn btn-primary">Voltar</a></span>
</div>